#topMenuLeft{
   margin-left:20px;
   font-size:30px;
   font-family: 'Patua One', cursive;
   color:white;
   cursor:pointer;
}

#topMenuRight{
    margin-right:20px;
    color:white;
    
}
.menuButton{
    font-size:16px;
    margin:10px;
    color:white;
}
.menuButton:active{
    border-bottom:2px solid green;
}


#navBar{
    background-color:#83be83 !important;
}