#topMenuLeft{
   margin-left:20px;
   font-size:30px;
   font-family: 'Patua One', cursive;
   color:white;
   cursor:pointer;
}

#topMenuRight{
    margin-right:20px;
    
}
.menuButton{
    font-size:20px;
}

#navBar{
    background-color:#83be83 !important;
}