#topMenuLeft{
   margin-left:20px;
   font-size:30px;
   font-family: 'Patua One', cursive;
   color:white;
   cursor:pointer;
}

#topMenuRight{
    margin-right:20px;
    color:white;
}
.menuButton{
    font-size:16px;
    margin:10px;
    color:white;
}

.menuButton:hover {
    border-bottom: 2px solid green;
}

.menuButton:link,
.menuButton:visited {
    outline: none;
    color: white;
    text-decoration: none;
}

.active {
    border-bottom:2px solid green;
}

#FLIGHT {
    border-bottom: none;
}

#navBar{
    background-color:#343a40 !important;
}