.text_pie{
    color:black;
}

.slice_active{
    opacity: 0.7;
}

#pieChart{
    position: relative;
      top: 85px;
      border-bottom: 2px solid grey;
      border-left: 2px solid grey;
      border-right: 2px solid grey;
      border-radius:20px;
  }
  .legendContainerPie{
    position: relative;
    bottom: 590px;
    left: 27%;
  }
  .legendContainerPiePushed{
    position: relative;
    bottom: 576px;
    left:400px;
  }
  #hideButton{
    position: relative;
    bottom: 580px;
    left: 390px;

    width: 100%;
    font-size:16px
  }
  #pieChartText{
    position: absolute;
    top: 11%;
    color:grey;
  }