// Basic reset
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    //This defines what 1rem is
    font-size: 62.5%; // 1rem = 10px
    width: 100vw;

}

body {
    box-sizing: border-box;

    & button:focus {
        outline: none !important;
    }
}

.App {
    display: flex;
    flex-direction: column;

}

.btn-custom{
    background-color:#BAD0B0;
    border:none;
    color:white;
  }
  .btn-custom2{
    background-color:#BAD0B0;
    border:none;
    border-radius:5px;
    padding:5px;
    margin-top: 10px;
  }
  .ui.basic.segment{
    background-color:white;
  }