body {
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    fill: #2B2B2B;
    cursor: default;
  }
  
  @media (min-width: 600px) {
    #chart{
      font-size: 16px;
    }
  }