
.homescreen__container {
    text-align: center;
    margin-top: 15px; }
    .homescreen__container .fa-hand-pointer {
      color: #4fa092;
      font-size: 300px;
      -webkit-animation: action 1s infinite  alternate;
      animation: action 1s infinite  alternate; }
  
  @-webkit-keyframes action {
    0% {
      transform: translateY(0); }
    100% {
      transform: translateY(-10px); } }
  
  @keyframes action {
    0% {
      transform: translateY(0); }
    100% {
      transform: translateY(-10px); } }
    .homescreen__container .homescreen__container__title {
      font-size: 48px; }




.homepage {
    &__main {
        display: grid;
        grid-template-columns: 100rem 20rem;
        grid-template-rows: 25rem 70rem auto;
    }
}



.personlist {
    grid-row: 1/-1;
    grid-column: 2/3;
    //margin-left: 1.5rem;
    //width: 
    & li {
        list-style: none;
        background-color: lightgrey;
        padding: 0.4rem;
        margin: 0.7rem;
        font-size: 1.5rem;
        text-align: center;
        font-family: "Arial";
    }
}

#barChart {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    

}

#legendChart {
    display: flex;
    align-items: center;
    height: 50px;
    margin-left: 580px;
    
}

#legendChart{
    border:1px solid grey;
    height:50px;
    
}

#legendContainer{
    margin:10px;
    margin-top: 20px;
    margin-left: 0px;
  }

  #secondViewBarChart {
      margin-left: -350px;
  }



#topTen {
    position: absolute;
    background-color: #f9f7f7;
    margin-left: -1rem;
    width: 15%;
    border-bottom: 2px solid grey;
    border-right: 2px solid grey;
}