


.homescreen__container{
    text-align:center;
    margin-top:15px;
    .fa-hand-pointer{
        color:#bbe0e8
        font-size:300px;
        -webkit-animation: action 1s infinite  alternate;
        animation: action 1s infinite  alternate;
    }
    @-webkit-keyframes action {
        0% { transform: translateY(0); }
        100% { transform: translateY(-10px); }
    }
    @keyframes action {
        0% { transform: translateY(0); }
        100% { transform: translateY(-10px); }
        
        }
    .homescreen__container__title{
        font-size:48px;
    }


}




