#aboutContainer{
    max-width: 100%;
}

#howitworks{
    text-align:center;
    padding:1%;
    color: #404040;
    font-size: 4rem;
    margin-top: 5%;
    
}

#demo{
    text-align:center;
    padding:1%;
    color: #404040;
    font-size: 4rem;
    
}

#demoContainer{
    background-color: #DCE5D7;
    padding-top: 2rem;
}

.descriptionVideo {
    display: flex;
    justify-content: center;
    //align-items: center;
    margin-top: 4rem;
    margin-bottom: 7rem;

    & > * {
        margin: 1rem;
    }

    & p {
        color: #212529;
        font-size: 1.6rem;
        width: 25%;
        margin-top: 3rem;
    }

    & iframe {
        border-radius: .5rem;
    }
}

.hw_date{
    width: 300px;
    text-align: center;
    justify-content: center;
    margin-right: 0px;
}

.cardHeader{
    font-weight: bold;
}

.imageDiv{
    margin:5%;
    text-align: center;
}