

.bar_inactive{
  opacity: 0.5;
}

.legend_inactive{
  opacity: 0.5;
}

.toolTip {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: absolute;
  display: none;
  width: auto;
  height: auto;
  background: none repeat scroll 0 0 white;
  border-radius: 8px 8px 8px 8px;
  color: black;
  font: 12px sans-serif;
  padding: 5px;
  text-align: center;
}

#barChart{
  text-align:center;
  margin: auto;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid grey
}
#legendChart{
border:1px solid grey;
height:80px;
margin:10px;
}
#legendContainer{
  margin:10px;
}
#legendButton{
  margin:10px;
}