



.bar_active {
  stroke: black;
  stroke-width: 2;
}


.toolTip {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: absolute;
  display: none;
  width: auto;
  height: auto;
  background: none repeat scroll 0 0 white;
  border-radius: 8px 8px 8px 8px;
  color: black;
  font: 12px sans-serif;
  padding: 5px;
  text-align: center;
}


  