.tooltip{
  opacity: 1 !important;
}
#zoom_in{
  z-index:100;
  position: relative;
    left: 46%;
    top: 116px;
}
#zoom_out{
  z-index:100;
  position: relative;
    left: 46%;
    top: 119px;
}
#svgMap{
  border-left: 2px solid grey;
    border-right: 2px solid grey;
    border-radius: 0px 0px 20px 20px;
    border-bottom: 2px solid grey;
}

#showStockholmButton{
  z-index:100;
  
  position: relative;
  left: 36%;
  top:122px;
  font-size:16px
}