#aboutContainer{
    font-family: 'roboto';
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    
}

.ui.card>.content{
    border:none;
    text-align:center;
}

#ourTeam{
    text-align:center;
    padding:1%;
    color: #404040;
    font-size: 4rem;
    
}
#teamContainer{
    background-color: #DCE5D7;
    max-width: 100%;
}

#textContainer{
    text-align:center;
   /* margin-left: 20%;
    margin-right:20%;*/
    margin-bottom: 6%;

}
#text{
    font-size: 1.5rem;
    color:#404040;
    font-family:'roboto';
    padding:1%;
    margin-top:8%;
    margin-left:5%;
    font-weight: bold;
    text-align:left;
}

#text1{
    font-size: 1.5rem;
    color:#404040;
    font-family:'roboto';
    padding:1%;
    margin:0% 30% 0% 30%;
}

#text3{
    font-size: 1.5rem;
    color:#404040;
    font-family:'roboto';
    padding:1%;
    margin:0% 30% 0% 30%;
}

#essential{
    text-align: left;

  white-space: pre-wrap;

}
#text2{
    font-size:2rem;
    color:#404040;
    font-family:'roboto';
    padding:1%;
    align-self: center;
    font-weight:'800';
}
#text_citat{
    float: right;
    font-size:24px;
    color:#F0F1F2;
    font-family:'roboto';
    border-top: solid;
    border-color: #F0F1F2;
    width:250px;
    margin-top: 10px;
    padding-top: 10px;
    text-align: right;
}

#text_italic{
    font-size:14px;
    color:#F0F1F2;
    font-family:'roboto';
}

#textTitle{
    text-align: right;
    color:#F0F1F2;
    font-size: 5rem;
}

.imageDivAbout{
    text-align:center;
    max-width:100%;
    max-height:100%;
    margin:2%;
    color:#404040;
    padding:0.5%;

}
#headerContainer{
    padding:7%;
    background-image: url(plane.jpg);
    opacity: 0.5;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height:400px;

}
a:link, a:visited {
    text-align: center;
    color:#000000;
    text-decoration: underline;
}

.header{
    font-size:18px;
    margin-top: 5%;
}

.meta{
    font-size:14px;
}
.responsive {
    width: 200px;
    height: 200px;
    border-style: none;
    border-radius: 50%;
  }

#greenBtn{
    background-color: #BAD0B0 ;
    font-size: 2rem;
    border-radius: 10px;
    color:white;
    padding:2%;
    margin: 20px;
}

#greenBtn:hover{
    border-color:#BAD0B0;
}

#mapImg{
   width:500px;
    height: 300px;
    border-radius:20px;
    float: left;
  
}
#barImg{
    width:50%;
    height: 100%;
    padding-left:2%;
}

#img_text{
    font-size:2.5rem;
    color:#404040;
    font-family:'roboto';
    margin: 20px;
    text-align:center;

}
#mapTextContainer{
    text-align:center;
    display: flex;
    margin-top: 60px;
   margin: 5%;
}

#mapTextContainer1{
    width: 50%;
    display:inline-block;
   margin: 10px 10px 10px 100px;

}

#mapTextContainer2{
    padding: 1% 5% 0% 5%;
}

#barTextContainer{
    text-align:center;
    display: flex;
    margin-top: 60px;
   margin: 5%;
}
#descriptionContainer{
    margin-top: 5%;
}
.role{
    margin-top: 10px;
}
.date{
    border-bottom: solid;
    margin-bottom: 2%;
    
}
p:first-child{
    margin-top: 10px;
}

#detaildes{
    display:flex;
    flex-direction: column;
    margin-top:5%;
    text-align:center;
}
#bartext{
    margin-right:5%;
    margin-top:5%;
}
ul{
    list-style-type: none;
    text-align: center;
}
.processContainer{
    margin:5% 10% 5% 10%;
}
#process{
    font-size:16px;
    text-align:left;
    margin-bottom: 3%;
    margin-top: 3%;
}
#techtext{
    font-size:1.5rem;
}