#aboutContainer{
   
    font-family: 'roboto';
    display: flex;
  align-items: center;
  justify-content: center;
    
}
img{
    border-style: none;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}



.ui.card>.content{
    border:none;
    text-align:center;
}

#ourTeam{
    text-align:center;
    padding:20px;
    
}
#teamContainer{
    background-color:grey;
}

#textContainer{
    text-align:center;
    padding: 50px;

}
#text{
    font-size:14px;
    color:black;
    font-family:'roboto';

}

#textTitle{
    color:black;
    font-size:48px;
}

.imageDiv{
    text-align:center;
    max-width:200px;
    margin:10px;
    color:white;
}