#aboutContainer{
    font-family: 'roboto';
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.ui.card>.content{
    border:none;
    text-align:center;
}

#ourTeam{
    text-align:center;
    padding:1%;
    color: #404040;
    font-size: 4rem;
    
}
#teamContainer{
    background-color: #DCE5D7;
    max-width: 100%;
}

#textContainer{
    text-align:center;
    margin-left: 30%;
    margin-right:30%;
    margin-top:6%;
    margin-bottom: 6%;

}
#text{
    font-size:14px;
    color:#404040;
    font-family:'roboto';
    padding:1%;

}
#text_citat{
    text-align: left;
    font-size:24px;
    color:#F0F1F2;
    font-family:'roboto';
    border-top: solid;
    border-color: #F0F1F2;
    width: fit-content;
    margin-top: 10px;
    padding-top: 10px;
}

#text_italic{
    font-size:14px;
    color:#F0F1F2;
    font-family:'roboto';
}

#textTitle{
    text-align: left;
    color:#F0F1F2;
    font-size: 5rem;}

.imageDiv{
    text-align:center;
    max-width:100%;
    max-height:100%;
    margin:3%;
    color:#404040;

}
#headerContainer{
    padding:7%;
    background-image: url(plane.jpg);
    opacity: 0.5;
    height: 500px;
}
a:link, a:visited {
    text-align: center;
    color:#000000;
    text-decoration: underline;
}

.header{
    font-size:18px;
    margin-top: 5%;
}

.meta{
    font-size:14px;
}
.responsive {
    width: 200px;
    height: 200px;
    border-style: none;
    border-radius: 50%;
  }

#greenBtn{
    background-color: #749860 ;
    font-size: 24px;
    border-color:#749860;
    color:white;
    margin: 50px;


}

#greenBtn:hover{
    border-color:#749860;
}

#mapImg{
    width: 500px;
    height: 300px;
    border-radius:20px;
}
#img_text{
    font-size:2rem;
    color:#404040;
    font-family:'roboto';
    padding:1%;
    margin: 20px;

}
#mapTextContainer{
    text-align:center;
    display: flex;

}

#mapTextContainer1{
    display:inline-block;
    margin: 10px 10px 10px 100px;
   

  
}

#mapTextContainer2{
   display:inline-block;
   margin-right:80px;
}