*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }
  body button:focus {
    outline: none !important; }

p {
  color: red;
  font-size: 3rem; }

h1 {
  color: lightgrey; }

.homescreen__container {
  text-align: center;
  margin-top: 15px; }

.homescreen__container .fa-hand-pointer {
  color: #4fa092;
  font-size: 300px;
  -webkit-animation: action 1s infinite  alternate;
  animation: action 1s infinite  alternate; }

@-webkit-keyframes action {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(-10px); } }

@keyframes action {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(-10px); } }

.homescreen__container .homescreen__container__title {
  font-size: 48px; }

.homepage__main {
  display: grid;
  grid-template-columns: 100rem 20rem;
  grid-template-rows: 25rem 70rem auto; }

.personlist {
  grid-row: 1/-1;
  grid-column: 2/3; }
  .personlist li {
    list-style: none;
    background-color: lightgrey;
    padding: 0.4rem;
    margin: 0.7rem;
    font-size: 1.5rem;
    text-align: center;
    font-family: "Arial"; }

#barChart {
  display: flex;
  flex-direction: column-reverse;
  align-items: center; }

#legendChart {
  display: flex;
  align-items: center;
  height: 50px;
  margin-left: 580px; }

#legendChart {
  border: 1px solid grey;
  height: 50px; }

#legendContainer {
  margin: 10px;
  margin-top: 20px;
  margin-left: 0px; }

#secondViewBarChart {
  margin-left: -350px; }

#topTen {
  position: absolute;
  background-color: #f9f7f7;
  margin-left: -1rem;
  width: 15%;
  border-bottom: 2px solid grey;
  border-right: 2px solid grey; }

#chart {
  margin: .2rem;
  min-height: 300px;
  /*.sideChartRect {
    
        cursor: pointer;
    }*/ }
  #chart text {
    color: white;
    fill: white;
    font-size: 1.2rem; }
  #chart .tick {
    text-transform: uppercase; }
    #chart .tick line {
      color: transparent; }
  #chart .domain {
    color: transparent; }

.totalText {
  color: white; }

.labels {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  width: 80%;
  padding: 0 1rem 0 1rem;
  margin-bottom: -1rem;
  fill: white;
  color: white; }
  .labels > * {
    margin: 0 .5rem .5rem .5rem;
    display: flex; }

.labelBox {
  width: 1.4rem;
  height: 1.4rem;
  margin-left: .5rem; }

.person_inactive {
  opacity: 0.5; }

.sideChartFilters {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -1rem; }
  .sideChartFilters > * {
    margin-top: 1.5rem; }

#sideChartSelectAll {
  padding-bottom: .2rem;
  margin-right: 1rem; }

#titleSelector {
  border: .15rem solid #343a40;
  border-radius: 5rem;
  width: auto;
  text-transform: uppercase; }

.NavBar {
  text-align: center;
  background-color: #f9f7f7;
  padding-top: 15px;
  font-family: Arial; }
  .NavBar .custom-select {
    width: 258.594px;
    height: 40px;
    border: 2px solid #343a40;
    border-radius: 50px; }

.homepage__heading {
  background-color: #83be83;
  padding: 15px; }
  .homepage__heading .homepage__heading__title {
    font-family: 'Patua One', cursive; }

#schoolButton {
  margin: 2px;
  margin-top: 10px;
  flex: 0 0 13%;
  font-size: 1.2rem;
  width: 20%;
  height: 40px;
  border-radius: 50px; }

#selectSchoolOrg {
  margin-top: 2.5rem;
  min-height: 60vh; }

.buttonContainer {
  padding-bottom: 2rem;
  width: 70%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-basis: 30%; }
