*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  width: 100vw; }

body {
  box-sizing: border-box; }
  body button:focus {
    outline: none !important; }

.App {
  display: flex;
  flex-direction: column; }

.btn-custom {
  background-color: #BAD0B0;
  border: none;
  color: white; }

.btn-custom2 {
  background-color: #BAD0B0;
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin-top: 10px; }

.ui.basic.segment {
  background-color: white; }

.homescreen__container {
  text-align: center;
  margin-top: 15px; }

.homescreen__container .fa-hand-pointer {
  color: #4fa092;
  font-size: 300px;
  -webkit-animation: action 1s infinite  alternate;
  animation: action 1s infinite  alternate; }

@-webkit-keyframes action {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(-10px); } }

@keyframes action {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(-10px); } }

.homescreen__container .homescreen__container__title {
  font-size: 48px; }

.homepage__main {
  display: grid;
  grid-template-columns: 100rem 20rem;
  grid-template-rows: 25rem 70rem auto; }

.personlist {
  grid-row: 1/-1;
  grid-column: 2/3; }
  .personlist li {
    list-style: none;
    background-color: lightgrey;
    padding: 0.4rem;
    margin: 0.7rem;
    font-size: 1.5rem;
    text-align: center;
    font-family: "Arial"; }

#barChart {
  display: flex;
  flex-direction: column-reverse;
  align-items: center; }

#legendChart {
  display: flex;
  align-items: center;
  height: 50px;
  margin-left: 580px; }

#legendChart {
  border: 1px solid grey;
  height: 50px; }

#legendContainer {
  margin: 10px;
  margin-top: 20px;
  margin-left: 0px; }

#secondViewBarChart {
  margin-left: -350px; }

#topTen {
  position: absolute;
  background-color: #f9f7f7;
  margin-left: -1rem;
  width: 15%;
  border-bottom: 2px solid grey;
  border-right: 2px solid grey; }

#aboutContainer {
  font-family: 'roboto';
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; }

.ui.card > .content {
  border: none;
  text-align: center; }

#ourTeam {
  text-align: center;
  padding: 1%;
  color: #404040;
  font-size: 4rem; }

#teamContainer {
  background-color: #DCE5D7;
  max-width: 100%; }

#textContainer {
  text-align: center;
  /* margin-left: 20%;
    margin-right:20%;*/
  margin-bottom: 6%; }

#text {
  font-size: 1.5rem;
  color: #404040;
  font-family: 'roboto';
  padding: 1%;
  margin-top: 8%;
  margin-left: 5%;
  font-weight: bold;
  text-align: left; }

#text1 {
  font-size: 1.5rem;
  color: #404040;
  font-family: 'roboto';
  padding: 1%;
  margin: 0% 30% 0% 30%; }

#text3 {
  font-size: 1.5rem;
  color: #404040;
  font-family: 'roboto';
  padding: 1%;
  margin: 0% 30% 0% 30%; }

#essential {
  text-align: left;
  white-space: pre-wrap; }

#text2 {
  font-size: 2rem;
  color: #404040;
  font-family: 'roboto';
  padding: 1%;
  align-self: center;
  font-weight: '800'; }

#text_citat {
  float: right;
  font-size: 24px;
  color: #F0F1F2;
  font-family: 'roboto';
  border-top: solid;
  border-color: #F0F1F2;
  width: 250px;
  margin-top: 10px;
  padding-top: 10px;
  text-align: right; }

#text_italic {
  font-size: 14px;
  color: #F0F1F2;
  font-family: 'roboto'; }

#textTitle {
  text-align: right;
  color: #F0F1F2;
  font-size: 5rem; }

.imageDivAbout {
  text-align: center;
  max-width: 100%;
  max-height: 100%;
  margin: 2%;
  color: #404040;
  padding: 0.5%; }

#headerContainer {
  padding: 7%;
  background-image: url(../components/pages/About/plane.jpg);
  opacity: 0.5;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 400px; }

a:link, a:visited {
  text-align: center;
  color: #000000;
  text-decoration: underline; }

.header {
  font-size: 18px;
  margin-top: 5%; }

.meta {
  font-size: 14px; }

.responsive {
  width: 200px;
  height: 200px;
  border-style: none;
  border-radius: 50%; }

#greenBtn {
  background-color: #BAD0B0;
  font-size: 2rem;
  border-radius: 10px;
  color: white;
  padding: 2%;
  margin: 20px; }

#greenBtn:hover {
  border-color: #BAD0B0; }

#mapImg {
  width: 500px;
  height: 300px;
  border-radius: 20px;
  float: left; }

#barImg {
  width: 50%;
  height: 100%;
  padding-left: 2%; }

#img_text {
  font-size: 2.5rem;
  color: #404040;
  font-family: 'roboto';
  margin: 20px;
  text-align: center; }

#mapTextContainer {
  text-align: center;
  display: flex;
  margin-top: 60px;
  margin: 5%; }

#mapTextContainer1 {
  width: 50%;
  display: inline-block;
  margin: 10px 10px 10px 100px; }

#mapTextContainer2 {
  padding: 1% 5% 0% 5%; }

#barTextContainer {
  text-align: center;
  display: flex;
  margin-top: 60px;
  margin: 5%; }

#descriptionContainer {
  margin-top: 5%; }

.role {
  margin-top: 10px; }

.date {
  border-bottom: solid;
  margin-bottom: 2%; }

p:first-child {
  margin-top: 10px; }

#detaildes {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  text-align: center; }

#bartext {
  margin-right: 5%;
  margin-top: 5%; }

ul {
  list-style-type: none;
  text-align: center; }

.processContainer {
  margin: 5% 10% 5% 10%; }

#process {
  font-size: 16px;
  text-align: left;
  margin-bottom: 3%;
  margin-top: 3%; }

#techtext {
  font-size: 1.5rem; }

#mainPusher {
  border: none;
  border-radius: 0; }

#showButton {
  font-size: 20px;
  background-color: #343a40 !important;
  border-radius: 0px 20px 20px 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 130px;
  color: white; }

#showButtonText {
  font-size: 10px;
  color: white; }

.ui.segment {
  margin: 0px !important; }

.mapPieActive {
  background-color: white !important;
  border: 2px solid #343a40 !important;
  color: #343a40 !important;
  border-bottom: white !important; }

#mapViewButton {
  font-size: 20px;
  width: 50%;
  border-radius: 20px 20px 0px 0px;
  position: relative;
  /*left: 175px;*/
  top: 59px;
  z-index: 100; }

#pieViewButtonPushed {
  font-size: 20px;
  border-radius: 20px 20px 0px 0px;
  margin-left: 2px;
  z-index: 100;
  position: relative;
  top: 59px;
  width: 50%; }

#viewToggleBarPushed {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  left: -172px; }

#viewButtons {
  width: 1068px;
  display: flex;
  position: absolute;
  margin-top: 14px;
  /* ----------- Non-Retina Screens ----------- */
  /* ----------- Retina Screens ----------- */ }
  @media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
    #viewButtons {
      width: 800px; } }
  @media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
    #viewButtons {
      width: 800px; } }

#mapViewButtonPushed {
  font-size: 20px;
  position: relative;
  border-radius: 20px 20px 0px 0px;
  /* left: -5px;*/
  z-index: 100;
  position: relative;
  top: 59px;
  width: 50%; }

#pieViewButton {
  font-size: 20px;
  width: 50%;
  border-radius: 20px 20px 0px 0px;
  margin-left: 2px;
  top: 59px;
  z-index: 100;
  position: relative; }

.employeeTitle {
  color: white;
  padding: 5px; }

.barNotPushed {
  position: relative;
  left: 171px; }

#pushaSideBar {
  background-color: #343a40 !important; }

#sideBarChart {
  background-color: #f9f7f7 !important; }

#aboutContainer {
  max-width: 100%; }

#howitworks {
  text-align: center;
  padding: 1%;
  color: #404040;
  font-size: 4rem;
  margin-top: 5%; }

#demo {
  text-align: center;
  padding: 1%;
  color: #404040;
  font-size: 4rem; }

#demoContainer {
  background-color: #DCE5D7;
  padding-top: 2rem; }

.descriptionVideo {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  margin-bottom: 7rem; }
  .descriptionVideo > * {
    margin: 1rem; }
  .descriptionVideo p {
    color: #212529;
    font-size: 1.6rem;
    width: 25%;
    margin-top: 3rem; }
  .descriptionVideo iframe {
    border-radius: .5rem; }

.hw_date {
  width: 300px;
  text-align: center;
  justify-content: center;
  margin-right: 0px; }

.cardHeader {
  font-weight: bold; }

.imageDiv {
  margin: 5%;
  text-align: center; }

.bar_inactive {
  opacity: 0.5; }

.legend_inactive {
  opacity: 0.5; }

.toolTip {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: absolute;
  display: none;
  width: auto;
  height: auto;
  background: none repeat scroll 0 0 white;
  border-radius: 8px 8px 8px 8px;
  color: black;
  font: 12px sans-serif;
  padding: 5px;
  text-align: center; }

#barChart {
  margin: auto;
  display: flex;
  justify-content: center; }

#legendButton {
  margin: 10px; }

#pushaSideBar {
  margin: 0px !important; }

#pushaSideBar {
  max-height: 1190px;
  overflow-y: scroll;
  border-bottom-right-radius: 2rem !important;
  background-color: #343a40 !important;
  /* ----------- Non-Retina Screens ----------- */
  /* ----------- Retina Screens ----------- */ }
  @media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
    #pushaSideBar {
      max-height: 990px; } }
  @media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
    #pushaSideBar {
      max-height: 990px; } }

#chart {
  margin: .2rem;
  /*.sideChartRect {
    
        cursor: pointer;
    }*/ }
  #chart text {
    color: white;
    fill: white;
    font-size: 1.2rem; }
  #chart .tick {
    text-transform: uppercase; }
    #chart .tick line {
      color: transparent; }
  #chart .domain {
    color: transparent; }

.totalText {
  color: white; }

.labels {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  width: 80%;
  padding: 0 1rem 0 1rem;
  margin-bottom: -1rem;
  fill: white;
  color: white; }
  .labels > * {
    margin: 0 .5rem .5rem .5rem;
    display: flex; }

.labelBox {
  width: 1.4rem;
  height: 1.4rem;
  margin-left: .5rem; }

.person_inactive {
  opacity: 0.5; }

.sideChartFilters {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -1rem; }
  .sideChartFilters > * {
    margin-top: 1.5rem; }

#sideChartSelectAll {
  padding-bottom: .2rem;
  margin-right: 1rem; }

#titleSelector {
  border: .15rem solid #343a40;
  border-radius: 5rem;
  width: auto;
  text-transform: uppercase; }

.HoverBox {
  width: 400px;
  float: right;
  margin-right: 50px;
  color: white;
  font-size: 14px; }

#hoverText {
  font-size: 14px;
  padding: 3px; }

.tooltip {
  opacity: 1 !important; }

#zoom_in {
  z-index: 100;
  position: relative;
  left: 507px;
  top: 116px; }

#zoom_out {
  z-index: 100;
  position: relative;
  left: 507px;
  top: 119px; }

#zoom_in, #zoom_out {
  /* ----------- Non-Retina Screens ----------- */
  /* ----------- Retina Screens ----------- */ }
  @media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
    #zoom_in, #zoom_out {
      left: 367px; } }
  @media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
    #zoom_in, #zoom_out {
      left: 367px; } }

#svgMap {
  border-left: 2px solid #343a40;
  border-right: 2px solid #343a40;
  border-radius: 0px 0px 20px 20px;
  border-bottom: 2px solid #343a40;
  margin-bottom: 1rem;
  width: 1068px;
  height: 700px;
  /* ----------- Non-Retina Screens ----------- */
  /* ----------- Retina Screens ----------- */ }
  @media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
    #svgMap {
      width: 800px;
      height: 500px; } }
  @media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
    #svgMap {
      width: 800px;
      height: 500px; } }

#showStockholmButton {
  z-index: 100;
  position: relative;
  left: 390px;
  top: 115px;
  font-size: 16px;
  /* ----------- Non-Retina Screens ----------- */
  /* ----------- Retina Screens ----------- */ }
  @media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
    #showStockholmButton {
      left: 290px;
      font-size: 14px; } }
  @media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
    #showStockholmButton {
      left: 290px;
      font-size: 14px; } }

.text_pie {
  color: black; }

.slice_active {
  opacity: 0.7; }

#pieChart {
  position: relative;
  top: 105px;
  padding-top: 50px;
  border-bottom: 2px solid #343a40;
  border-left: 2px solid #343a40;
  border-right: 2px solid #343a40;
  border-radius: 0px 0px 20px 20px;
  /* ----------- Non-Retina Screens ----------- */
  /* ----------- Retina Screens ----------- */ }
  @media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
    #pieChart {
      padding-top: 2rem; } }
  @media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
    #pieChart {
      padding-top: 2rem; } }

.legendContainerPie {
  padding-top: 40px;
  position: relative;
  bottom: 590px;
  left: 27%; }

.legendContainerPiePushed {
  padding-top: 40px;
  position: relative;
  bottom: 576px;
  left: 400px;
  /* ----------- Non-Retina Screens ----------- */
  /* ----------- Retina Screens ----------- */ }
  @media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
    .legendContainerPiePushed {
      bottom: 430px;
      left: 270px; } }
  @media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
    .legendContainerPiePushed {
      bottom: 430px;
      left: 270px; } }

#hideButton {
  margin-top: 70px;
  position: relative;
  bottom: 580px;
  left: 390px;
  width: 100%;
  font-size: 16px;
  /* ----------- Non-Retina Screens ----------- */
  /* ----------- Retina Screens ----------- */ }
  @media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
    #hideButton {
      left: 260px;
      font-size: 14px;
      bottom: 415px; } }
  @media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
    #hideButton {
      left: 260px;
      font-size: 14px;
      bottom: 415px; } }

#pieChartText {
  position: absolute;
  top: 11%;
  color: grey;
  /* ----------- Non-Retina Screens ----------- */
  /* ----------- Retina Screens ----------- */ }
  @media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
    #pieChartText {
      top: 12%;
      font-size: 22px; } }
  @media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
    #pieChartText {
      top: 12%;
      font-size: 22px; } }

.NavBar {
  text-align: center;
  background-color: white;
  padding-top: 15px;
  font-family: Arial; }
  .NavBar .custom-select {
    width: 258.594px;
    height: 40px;
    border: 2px solid #343a40;
    border-radius: 50px; }

#navbarContainer {
  margin-right: 350px; }

#topMenuLeft {
  margin-left: 50px;
  font-size: 25px;
  font-family: 'Roboto';
  font-weight: bold;
  color: white;
  cursor: pointer; }

#topMenuRight {
  margin-right: 20px;
  color: white; }

.menuButton {
  font-size: 20px;
  margin: 10px;
  color: white;
  margin-right: 50px;
  letter-spacing: 0.1em; }

.menuButton:hover {
  border-bottom: 2px solid white; }

.menuButton:link,
.menuButton:visited {
  outline: none;
  color: white;
  text-decoration: none; }

.active {
  border-bottom: 2px solid white; }

#FLIGHT {
  border-bottom: none; }

#navBar {
  background-color: #343a40 !important;
  opacity: 1 !important; }

.footer {
  width: 100vw;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #343a40;
  height: 12vh;
  font-size: 1.4rem;
  font-family: 'roboto';
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: white;
  /*
    &__wrapper {
        display: flex;
        justify-content: center;
    }

    &__item {
        margin: 1rem;
        padding: .7rem;
        border-radius: .5rem;

        &:hover {
            background-color: lighten(#343a40, 10%);
        }
    }*/ }
  .footer a:link, .footer a:visited {
    font-size: 1.4rem;
    font-family: 'roboto';
    color: white; }

.homepage__heading {
  background-color: #83be83;
  padding: 15px; }
  .homepage__heading .homepage__heading__title {
    font-family: 'Patua One', cursive; }

#schoolButton {
  margin: 2px;
  margin-top: 10px;
  flex: 0 0 13%;
  font-size: 1.2rem;
  width: 20%;
  height: 40px;
  border-radius: 50px; }

#selectSchoolOrg {
  margin-top: 2.5rem;
  min-height: 50vh;
  padding-bottom: 4rem; }

.buttonContainer {
  padding-bottom: 2rem;
  width: 70%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-basis: 30%; }
