.homepage__heading{
    background-color:#83be83;
    padding:15px;
.homepage__heading__title{
    font-family: 'Patua One', cursive;

}
}

#schoolButton{
    height:45px;
    margin: 2px;
    margin-top: 10px;;
    flex: 0 0 13%;
    font-size: 1.2rem;
}

#selectSchoolOrg{
    margin-top:2.5rem;
    min-height: 60vh;
}

.buttonContainer {
    padding-bottom: 2rem;
    width: 70%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-basis: 30%;
}