.NavBar {
    height:20%;
    text-align:center;
    background-color:#f9f7f7;
    padding:15px;
        
     position: relative;
    font-family: Arial;
   
    .custom-select{
        width: 20%;
        height: 40px;
        border: 2px solid #71bf7e;
        border-radius:50px;
    }
    }
   

