#mainPusher {
  border: none;
  border-radius: 0;
}

#showButton{
  font-size: 20px;
  background-color:#343a40 !important;
  border-radius:0px 20px 20px 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 130px;
  color:white;
}

#showButtonText{
font-size:10px;
color:white;

}
.ui.segment{
  margin:0px !important;
  
}

.mapPieActive{
 background-color:white !important;
 border:2px solid #343a40 !important;
 color:#343a40 !important;
 border-bottom:white !important;
}

#mapViewButton{
  font-size: 20px;
  width: 50%;
  border-radius: 20px 20px 0px 0px;
  position: relative;
  /*left: 175px;*/
  top: 59px;
  z-index: 100;
}

#pieViewButtonPushed{
  font-size: 20px;
  
  border-radius: 20px 20px 0px 0px;
  margin-left: 2px;
  z-index: 100;
  position: relative;
  top: 59px;
  width: 50%;
}


#viewToggleBarPushed{
  align-items: center;
  display: flex;
  flex-direction: column;
  position:relative;
  left:-172px;
}

#viewButtons{
  width: 1068px;
  display: flex;
  position: absolute;
  margin-top: 14px;
}



#mapViewButtonPushed{
  font-size: 20px;
  position:relative;
  border-radius: 20px 20px 0px 0px;
 /* left: -5px;*/
  z-index: 100;
  position: relative;
  top: 59px;
  width:50%;
  
}


#pieViewButton{
  font-size: 20px;
  width: 50%;
  border-radius: 20px 20px 0px 0px;
  margin-left: 2px;
  top: 59px;
  z-index: 100;
  position:relative;
}


.employeeTitle{
  color:white;
  padding:5px;
}





.barNotPushed{
  position: relative;
  left: 171px;
}

#pushaSideBar{
  background-color:#343a40 !important;
}

#sideBarChart{
  background-color:#f9f7f7 !important;
}

